{% extends 'mainPage/base.html' %}
{% load staticfiles %}

{% block  header %}
    <header class="main-header">
        <div class="flex-container">
            <nav class="main-menu">
                <ul class="main-menu__list">
                    <li class="main-menu__item"><a class="main-menu__link" href="/">news</a></li>
                    <li class="main-menu__item"><a class="main-menu__link" href="{% url 'mainPage:about' %}">About Us</a></li>
                </ul>
            </nav>
            <nav class="locale-wrapper">
                <ul class="locale__list">
                    <li class="locale__item"><a class="locale__link" id="ru" title="Russian"><img class="locale__img" src="{% static 'img/locale/russian.png' %}"></a></li>
                    <li class="locale__item"><a class="locale__link" id="en" title="English"><img class="locale__img" src="{% static  'img/locale/english.png' %}"></a></li>
                    <li class="locale__item"><a class="locale__link" id="gb" title="German"><img class="locale__img" src="{% static 'img/locale/german.png' %}"></a></li>
                    <li class="locale__item"><a class="locale__link" id="fr" title="French"><img class="locale__img" src="{% static 'img/locale/french.png' %}"></a></li>
                    <li class="locale__item"><a class="locale__link" id="tur" title="Turkish"><img class="locale__img" src="{% static 'img/locale/turkish.png' %}"></a></li>
                    <li class="locale__item"><a class="locale__link" id="po" title="Poland"><img class="locale__img" src="{% static 'img/locale/poland.png' %}"></a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}